:root{
  --b: #0d0e0f;
  --g0: #161819;
  --g1: #1f2122;
  --g2: #2f3234;
  --g3: #46494d;
  --g4: #63676b;
  --g5: #858b90;
  --g6: #adb4bb;
  --g7: #c8cdd1;
  --w: #e0e3e5;

  --b1: #1d3461;
  --b2: #1e3e70;
  --b3: #1f487e;
  --b4: #2b598a;
  --b5: #376996;
  --b6: #4d7daf;
  --b7: #6290c8;
  --b8: #7296c2;

  --shadow: 0 12px 30px rgba(0, 0, 0, 0.35)
}

* {
  box-sizing: border-box;
}

html body{
  height: 100%;
}

body{
  margin: 0;
  font: 16px/1.6 system-ui, sans-serif
}

a{
  color: inherit;
  text-decoration: none;
}

.header{
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background-color:  rgba(200, 200, 200, 0.65);
  z-index: 10;
}

.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 10px 5px;
}

.brand{
  font-weight: 700;
  letter-spacing: 0.2px;
}

.nav{
  display: flex;
}

.nav a{
  color: var(--b);
}

.nav a:hover{
  color: var(--b7);
}

.container {
  max-width: 970px;
  padding: 0 18px;
  margin: 0 auto;
}
